#location{
    width:200px;
    height:50px;
    font-size:20px;
    border-radius:5px;

}
#find{
    width:100px;
    height:50px;
    font-size:20px;
    border-radius:5px;
}
.logindiv{
    height:50px;
    border:3px black;
}
input{
    display: block;
}